

.typecontainer{
  display: inline-block;
}

.container{
  width: 400px;
  max-width: 80%;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

body {
  background-color: rgb(17, 18, 34);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(146, 239, 252);
  color-scheme: light dark;
}


.typed-out{
  overflow: hidden;
  color: rgb(33, 238, 67);
  border-right: .15em solid rgb(64, 255, 137);
  white-space: nowrap;
  animation: 
    typing 3s steps(15, end) forwards,
    blink .8s infinite;
  font-family: monospace;
  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from { width: 0 }
  26% { width: 32%}
  60% { width: 32%}
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  50% { border-color: rgb(64, 255, 137); }
  to { border-color: transparent }
}